@model Forum.Models.Question
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Title</h3>
<p>@Model.Description</p>
@if(!string.IsNullOrEmpty(Model.ImagePath)) 
{
    <div>
        <img src="@Model.ImagePath" alt="Question Image" class="img-fluid" style="max-width: 300px; max-height: 200px"/>
    </div>
}
<p>- @Model.User.UserName</p>

<h4>All Comments:</h4>
@foreach(var answer in Model.Answers)
{
    <p>@answer.Content - @answer.User.UserName</p>
    <hr />
}


<form asp-action="AddAnswer">
    <div class="form-group">
        <textarea name="Content" class="form-control"></textarea>
    </div>
    <br />
    <div class="form-group">
        <input type="hidden" name="IdentityUserId" class="form-control" value="@UserManager.GetUserId(User)"/>
    </div>
    <div class="form-group">
        <input type="hidden" name="QuestionId" class="form-control" value="@Model.Id" />
    </div>
    <div class="form-group">
        <input type="submit"  class="btn btn-info" style="background-color: darkblue; color: white; border: none;"value="Submit" />
    </div>

</form>

 <a asp-action="Index">Back to List</a>

